.filtre {
  position: fixed;
  background-color: var(--fondamental-color);
  top: 70px;
  right: 20px;
  z-index: 1000;
  height: 25px;
  padding: 5px;
  border-radius: 5px;
}

.active-filters {
  background-color: var(--quinte-color);
}

.filter-overlay {
  position: fixed;
  top: 60px;
  width: 100vw;
  height: calc(100vh - 70px - 60px);
  background-color: var(--fondamental-color);
  display: flex;
  flex-direction: column;
  z-index: 999;
  padding: 20px;
  overflow-y: auto;
  border-radius: 5px;
  box-sizing: border-box;
}

.filter-overlay select {
  border: none;
  width: 60vw;
  padding: 5px 5px;
  background-color: white;
}

.confirm-filter button {
  margin-right: 30px;
}

.vehicle-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.vehicle-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-radius: 8px;
}

.vehicle-info {
  display: flex;
  align-items: center;
  gap: 15px;
}

.vehicle-info img {
  height: 35px;
  width: 40px;
  filter: brightness(0) saturate(100%);
}

.vehicle-info span {
  color: var(--quinte-color);
  font-weight: 600;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 30px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 30px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: var(--quinte-color);
}

input:checked + .slider:before {
  transform: translateX(30px);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--quint-color);
}

.power-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.power-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-radius: 8px;
}

.power-info {
  display: flex;
  align-items: center;
  gap: 15px;
}

.power-info img {
  height: 25px;
  width: 25px;
  filter: brightness(0) saturate(100%);
}

.power-info span {
  color: var(--quint-color);
  font-weight: 600;
}

.plug-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.plug-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-radius: 8px;
}

.plug-info {
  display: flex;
  align-items: center;
  gap: 15px;
}

.plug-info img {
  height: 25px;
  width: 25px;
}

.plug-info span {
  color: var(--quint-color);
  font-weight: 600;
}

.confirm-filter button {
  margin-top: 20px;
}
